<html ng-app="recipeApp">
<head>
  <title>Team Beautiful Recipes</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
<script type="text/javascript">
  angular.module('recipeApp', [])
    .controller('RecipeController', [function() {
      var self = this;
      // Internal state: list of dishes
      self.dishes = [
        // Mock list for testing
        {name: 'lasagna', ingredients: [{name:'meat'}, {name:'cheese'}, {name:'sauce'}, {name:'noodles'}], disabled:true},
        {name: 'soup dumplings', ingredients: [{name:'soup'}, {name:'dumpling wrappers'}, {name:'meat'}], disabled:true}
      ];
      // Add a new dish to the list of dishes
      self.addDish = function () {
        // Push the form data into the internal state
        self.dishes.push( {
          name: self.newDish.name,
          ingredients: [ {name:self.newDish.ingredient1}, {name:self.newDish.ingredient2} ],
          disabled: true  // the new dish list item should initially be disabled from editing
        } );
        // Wipe the form data to allow for another swing of the bat
        self.newDish.name = '';
        self.newDish.ingredient1 = '';
        self.newDish.ingredient2 = '';
      };
      // When editing the dish, enable the dish form items (and disable the edit button)
      self.editDish = function(dish) {
        dish.disabled = false;
      };
      // When saving the dish, disable the dish form items
      self.saveDish = function(dish) {
        dish.disabled = true;
      }
      // TODO: these toggles could be simplified ...
    }]);
</script>
<style type="text/css">
  .dish:nth-child(odd) {
    background: #f0f6fb;
  }
  .dish:nth-child(even) {
    background: whitesmoke;
  }
  .dish {
    padding: 20px;
  }
</style>

</head>
<body>

<div ng-controller="RecipeController as control">
<ol class="dishes">
  <li ng-repeat="dish in control.dishes" class="dish">
  <form name="editDishForm">
    <button ng-click="control.editDish(dish)" ng-disabled="!dish.disabled">Edit</button>
    <input type="submit" ng-click="control.saveDish(dish)" ng-disabled="editDishForm.$invalid || dish.disabled" value="Save Dish"></br>
    <input class="dish-name" type="text" placeholder="Dish name" ng-model="dish.name" ng-disabled="dish.disabled" required>
    <ul class="ingredients">
      <li ng-repeat="ingredient in dish.ingredients" class="ingredient">
        <input class="ingredient-name" type="text" placeholder="Ingredient name" ng-model="ingredient.name" ng-disabled="dish.disabled" required>
      </li>
    </ul>
  </form>
  </li>
</ol>
<form name="addDishForm">
  <input type="text" ng-model="control.newDish.name" placeholder="New dish name" required>
  <input type="text" ng-model="control.newDish.ingredient1" placeholder="New ingredient" required>
  <input type="text" ng-model="control.newDish.ingredient2" placeholder="New ingredient" required>
  <input type="submit" ng-click="control.addDish()" ng-disabled="addDishForm.$invalid" value="Add Dish">
</form>
</div>

</body>
</html>
